@import 'variables';

.list-item {
    width: 100%;
    padding: 0 @mediumGap;

    &__teaser {
        position: relative;
        z-index: 20;
        display: block;
        height: @teaserHeight;
        width: ~"calc(100% + @{bigGap})";
        margin: 0 -@mediumGap;
        padding: 0 @smallGap;

        background-color: @darkGrey;
        border: 0;
        -webkit-appearance: none;

        line-height: @teaserHeight;
        text-align: left;
        color: @white;

        transition: width @transitionProps;

        &:focus {
            outline: @focusProps;
        }
        &:hover, &:active {
            background-color: @mediumGrey;
        }
        .list-item--open & {
            width: @teaserOpenWidth;
        }
    }
    &__container {
        position: relative;
        z-index: 10;
        width: 100%;
        max-height: 0;
        margin-top: -1/2 * @teaserHeight;
        overflow: hidden;

        background-color: @white;

        transition: max-height @transitionProps;

        .list-item--open & {
            max-height: 400px; // TODO: this should control the transition speed.
        }
    }
    &__content {
        padding: @bigGap @mediumGap @mediumGap;
    }
}
