@import 'variables';

.list-item {
    width: 100%;
    padding: 0 @mediumGap;
    margin-bottom: @bigGap;

    @media @mqMedium {
        margin-bottom: @bigGap + @mediumGap;
    }

    @media @mqLarge {
        padding: 0 @mediumGap * @modifierLarge;
        margin-bottom: (@bigGap + @mediumGap) * @modifierLarge;
    }

    &__teaser {
        position: relative;
        z-index: 20;
        display: block;
        height: @teaserHeight;
        width: ~"calc(100% + @{bigGap})";
        margin: 0 -@mediumGap;
        padding: 0 @smallGap;
        overflow: hidden;

        background-color: @darkGrey;

        font-size: @baseFontSize;
        line-height: @teaserHeight;
        text-align: left;
        color: @white;

        transition: width @transitionProps;

        &:focus {
            outline: @focusProps;
        }
        &:hover, &:active {
            background-color: @mediumGrey;
        }
        .list-item--open & {
            width: @teaserOpenWidth;
            .list-item__teaser-year {
                display: none;
            }
        }

        @media @mqMedium {
            padding: 0 @mediumGap;
            .list-item--open & {
                width: @teaserOpenWidthLarge;
            }
        }
        @media @mqLarge {
            @listItemNewBigGap: @bigGap * @modifierLarge;
            height: @teaserHeight * @modifierLarge;
            width: ~"calc(100% + @{listItemNewBigGap})";
            margin: 0 -@mediumGap * @modifierLarge;
            padding: 0 @mediumGap * @modifierLarge;
            font-size: @baseFontSize * @modifierLarge;
            line-height: @teaserHeight * @modifierLarge;
            .list-item--open & {
                width: @teaserOpenWidthLarge * @modifierLarge;
            }
        }
    }
    &__container {
        position: relative;
        z-index: 10;
        width: 100%;
        max-height: 0;
        margin-top: -1/2 * @teaserHeight;
        overflow: hidden;

        background-color: @white;

        transition: max-height @transitionProps;

        .list-item--open & {
            max-height: @listItemOpenMax;
        }
        @media @mqLarge {
            margin-top: -1/2 * @teaserHeight * @modifierLarge;
            .list-item--open & {
                max-height: @listItemOpenMax * @modifierLarge;
            }
        }
    }
    &__content {
        padding: @bigGap @mediumGap @mediumGap;
        visibility: hidden;;

        .list-item--open & {
            visibility: visible;
        }

        @media @mqLarge {
            padding: (@bigGap * @modifierLarge) (@mediumGap * @modifierLarge) (@mediumGap * @modifierLarge);
        }
    }
}
