.main-header {
    width: 100vw;
    height: @mainHeaderHeight;
    position: fixed;
    top: 0;
    z-index: 100;

    background-color: @white;
    box-shadow: 0 0 3px 0 @mediumGrey;

    @media @mqLarge {
        height: @mainHeaderHeight * @modifierLarge;
    }

    &__title {
        height: @mainHeaderHeight;
        width: 100%;
        margin: 0;
        padding: 0;

        line-height: @mainHeaderHeight;
        text-align: center;
        font-size: @mainHeaderTitle;
        font-weight: 300;

        @media @mqLarge {
            height: @mainHeaderHeight * @modifierLarge;
            line-height: @mainHeaderHeight * @modifierLarge;
            @font-size: @mainHeaderTitle * @modifierLarge;
        }
    }
}
