.main-list {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: @mediumGap @mediumGap 0;
    overflow-y: auto;
    transform: translate(0, 0);

    &--active {
        display: block;
    }
    &--animate-in-right {
        animation: move-in-right @transitionProps;
    }
    &--animate-in-left {
        animation: move-in-left @transitionProps;
    }
    &--animate-out-right {
        animation: move-out-right @transitionProps;
    }
    &--animate-out-left {
        animation: move-out-left @transitionProps;
    }

    @media @mqMedium {
        display: block;
        width: 50%;
        max-width: @mainListMaxWidth;
        top: @bigGap;

        &:first-child {
            right: 50%;
            left: auto !important;
        }
        &:last-child {
            left: 50%;
            right: auto !important;
        }
    }
}
