@import 'variables';

@headerFooterHeight: @mainHeaderHeight + @mainFooterHeight;

.main-wrapper {
    position: relative; // for the pages
    width: 100vw;
    height: ~"calc(100% - @{headerFooterHeight})";
    margin: @mainHeaderHeight auto 0;
    overflow: hidden;

    /*  TODO
        This isn't optimal since shorter content can be
        over the viewport on page switch.
    */
    @media @mqMedium {
        overflow: auto;
    }
}
