.main-list {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: @mediumGap @mediumGap 0;
    overflow-y: auto;
    transform: translate(0, 0);

    &--active {
        display: block;
    }
    &--left {
        &.js--animate {
            &-in {
                animation: move-in-right @transitionPropsSlower;
            }
            &-out {
                animation: move-out-left @transitionPropsSlower;
            }
        }
    }
    &--right {
        &.js--animate {
            &-in {
                animation: move-in-left @transitionPropsSlower;
            }
            &-out {
                animation: move-out-right @transitionPropsSlower;
            }
        }
    }

    @media @mqMedium {
        display: block;
        width: 50%;
        max-width: @mainListMaxWidth;

        opacity: @hiddenOpac;
        z-index: 1;
        pointer-events: none;

        &.main-list--left {
            right: 50%;
            transform: translate(20%) scale(.85);
        }
        &.main-list--right {
            left: 50%;
            transform: translate(-20%) scale(.85);
        }

        &--active {
            opacity: 1;
            z-index: 2;
            pointer-events: all;

            &.main-list--left {
                right: 50%;
                transform: translate(50%, 0) scale(1);
            }
            &.main-list--right {
                left: 50%;
                transform: translate(-50%, 0) scale(1);
            }
        }
    }
}
