.page-switch {
    margin: -@mainHeaderHeight auto 0;
    max-width: @mainWrapperMaxWidth;
    position: relative;

    &__item {
        position: absolute;

        height: @pageSwitchHeight - @mediumGap;
        width: @pageSwitchHeight - @mediumGap;
        margin: @mediumGap;

        text-align: center;
        font-size: @pageSwitchHeight - @bigGap;
        line-height: @pageSwitchHeight - @mediumGap;

        &:first-child {
            top: 0;
            left: 0;
        }
        &:last-child {
            top: 0;
            right: 0;
        }


        color: @lightGrey;
        background-color: @darkGrey;
        border-radius: 50%;

        transition: all @transitionProps;

        &--active {
            color: @darkGrey;
            background-color: @lightGrey;
        }
    }
}
