.page-switch {
    margin: -@mainHeaderHeight auto 0;
    max-width: @mainListMaxWidth;
    position: relative;

    @media @mqLarge {
        margin: (-@mainHeaderHeight * @modifierLarge) auto 0;
        max-width: @mainListMaxWidth * @modifierLarge;
    }

    &__item {
        position: absolute;

        height: @pageSwitchHeight - @mediumGap;
        width: @pageSwitchHeight - @mediumGap;
        margin: @mediumGap;

        text-align: center;
        font-size: @pageSwitchHeight - @bigGap;
        line-height: @pageSwitchHeight - @mediumGap;

        &:first-child {
            top: 0;
            left: 0;
        }
        &:last-child {
            top: 0;
            right: 0;
        }


        color: @lightGrey;
        background-color: @darkGrey;
        border-radius: 50%;

        transition: color @transitionProps, background-color @transitionProps;

        &--active {
            color: @darkGrey;
            background-color: @lightGrey;
        }
        &:focus {
            outline: @focusProps;
        }
        @media @mqLarge {
            height: (@pageSwitchHeight - @mediumGap) * @modifierLarge;
            width: (@pageSwitchHeight - @mediumGap) * @modifierLarge;
            margin: @mediumGap * @modifierLarge;
            font-size: (@pageSwitchHeight - @bigGap) * @modifierLarge;
            line-height: (@pageSwitchHeight - @mediumGap) * @modifierLarge;
        }
    }
}
