@import 'variables';
@import 'normalize';
@import 'icon';
@import 'typography';

@import 'main-header';
@import 'main-intro';
@import 'main-wrapper';
@import 'main-list';
@import 'main-footer';

@import 'list-item';
@import 'page-switch';


html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: @lightGrey;
    font-family: 'Open Sans';
}

body {
    padding-top: @mainHeaderHeight;
    @media @mqLarge {
        padding-top: @mainHeaderHeight * @modifierLarge;
    }
}
