@import 'variables';
@import 'normalize';
@import 'icon';
@import 'layout';
@import 'list-item';
@import 'page-switch';


html, body {
    width: 100%;
    background-color: @lightGrey;
    font-family: 'Open Sans';
}
