@import 'variables';
@import 'normalize';
@import 'icon';
@import 'layout';

@import 'main-header';
@import 'main-list';
@import 'main-footer';

@import 'list-item';
@import 'page-switch';


html, body {
    width: 100%;
    position: relative; // for footer

    background-color: @lightGrey;
    font-family: 'Open Sans';
}
