// UNITS
@smallGap: 8px;
@mediumGap: 2 * @smallGap; // 16px
@bigGap: 4 * @smallGap; // 32px

@teaserHeight: @bigGap + @smallGap; // 40px

// COLORS
@lightGrey: rgb(248, 248, 248);
@mediumGrey: rgb(116, 116, 116);
@darkGrey: rgb(91, 91, 91);
@white: rgb(255, 255, 255);
@darkRed: rgb(111, 16, 16);

@focusColor: @darkRed;

// MISC
@transitionProps: ~".3s ease";
