<nav class="main-footer__navigation">
    <a href="#" class="main-footer__item"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
    <a href="#" class="main-footer__item"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
    <a href="#" class="main-footer__item"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a>
    <a href="#" class="main-footer__item"><svg class="icon icon-letter"><use xlink:href="#icon-letter"></use></svg></a>
</nav>
