<nav class="main-footer__navigation" role="navigation">
    <a href="https://github.com/AlexKott" class="main-footer__item"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
    <a href="https://twitter.com/AlexKott" class="main-footer__item"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
    <a href="https://linkedin.com/in/alexkott" class="main-footer__item"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a>
    <a href="#" class="main-footer__item" id="contact-mail"><svg class="icon icon-letter"><use xlink:href="#icon-letter"></use></svg></a>
</nav>
