<section class="list-item">
    <button type="button" class="list-item__teaser" aria-label="Open {{title}}">{{title}}</button>
    <div class="list-item__container">
        <article class="list-item__content" role="article">{{text}}</article>
    </div>
</section>
