<section class="list-item">
    <button type="button" class="list-item__teaser" aria-label="Open currently">Currently</button>
    <div class="list-item__container">
        <article class="list-item__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec purus fermentum, posuere leo mollis, elementum augue. Fusce scelerisque faucibus tempor. Aliquam sed lobortis mauris. Mauris sit amet congue ex, in rutrum augue. Donec dictum elementum lectus, ac egestas risus lacinia eget.</article>
    </div>
</section>
