<nav class="page-switch">
    <button
        type="button"
        class="page-switch__item"
        aria-label="View recent"
        data-page-id="0"
        data-switch-dir="left"
    >
        <svg class="icon icon-recent"><use xlink:href="#icon-recent"></use></svg>
    </button>
    <button
        type="button"
        class="page-switch__item"
        aria-label="View about"
        data-page-id="1"
        data-switch-dir="right"
    >
        <svg class="icon icon-about"><use xlink:href="#icon-about"></use></svg>
    </button>
</nav>
