<nav class="page-switch">
    <a href="#" class="page-switch__item"><svg class="icon icon-profile"><use xlink:href="#icon-profile"></use></svg></a>
    <a href="#" class="page-switch__item page-switch__item--active"><svg class="icon icon-about"><use xlink:href="#icon-about"></use></svg></a>
</nav>
