<header class="main-header">
    <h1 class="main-header__title">Alex Kott</h1>
    {{>page-switch}}
</header>
<main class="main-wrapper" id="main-wrapper">
    {{>main-list pageId='page-0'}}
    {{>main-list pageId='page-1'}}
</main>
<footer class="main-footer">
    {{>contact-links}}
</footer>
